
# Lab 1: Introduction to Data Science in Python
<img src="https://data.berkeley.edu/sites/default/files/styles/openberkeley_brand_widgets_rectangle/public/john_and_ani_community_photo_dsc_7214.jpg?itok=6Hjv1irR" style="width: 500px; height: 350px;"/>


### Table of Contents
<a href='#section 0'>Welcome to Jupyter Notebooks!</a>

1.  <a href='#section 1'>The Python Programming Language</a>

    a. <a href='#subsection 1a'>Expressions</a> and <a href='#subsection error'>Errors</a>

    b. <a href='#subsection 1b'>Names</a>

    c. <a href='#subsection 1c'>Orders of Operations</a>

    d. <a href='#subsection 1d'>Dot Notation</a>
<br><br>
2. <a href='#section 2'>Tables</a>

    a. <a href='#subsection 2a'>Transformations</a>
    

3. <a href='#section 3'>Barplots</a>

## The Jupyter  Notebook <a id='section 0'></a>

Welcome to the Jupyter Notebook! **Notebooks** are documents that can contain text, code, visualizations, and more. 

A notebook is composed of rectangular sections called **cells**. There are 2 kinds of cells: markdown and code. A **markdown cell**, such as this one, contains text. A **code cell** contains code in Python, a programming language that we will be using for the remainder of this module. You can select any cell by clicking it once. After a cell is selected, you can navigate the notebook using the up and down arrow keys.

To run a code cell once it's been selected, 
- press Shift-Enter, or
- click the Run button in the toolbar at the top of the screen. 

If a code cell is running, you will see an asterisk (\*) appear in the square brackets to the left of the cell. Once the cell has finished running, a number will replace the asterisk and any output from the code will appear under the cell.

In [1]:
# run this cell
print("Hello World!")

Hello World!

You'll notice that many code cells contain lines of blue text that start with a `#`. These are *comments*. Comments often contain helpful information about what the code does or what you are supposed to do in the cell. The leading `#` tells the computer to ignore them.

#### Editing

You can edit a Markdown cell by clicking it twice. Text in Markdown cells is written in [**Markdown**](https://daringfireball.net/projects/markdown/), a formatting syntax for plain text, so you may see some funky symbols when you edit a text cell. 

Once you've made your changes, you can exit text editing mode by running the cell. Edit the next cell to fix the misspelling.

Go Baers!

Code cells can be edited any time after they are highlighted. Try editing the next code cell to print your name.

In [2]:
# edit the code to print your name
print("Hello: my name is NAME")

Hello: my name is NAME

#### Saving and Loading

Your notebook can record all of your text and code edits, as well as any graphs you generate or calculations you make. You can save the notebook in its current state by clicking Control-S, clicking the floppy disc icon in the toolbar at the top of the page, or by going to the File menu and selecting "Save and Checkpoint".

The next time you open the notebook, it will look the same as when you last saved it.

**Note:** after loading a notebook you will see all the outputs (graphs, computations, etc) from your last session, but you won't be able to use any variables you assigned or functions you defined. You can get the functions and variables back by re-running the cells where they were defined- the easiest way is to highlight the cell where you left off work, then go to the Cell menu at the top of the screen and click "Run all above". You can also use this menu to run all cells in the notebook by clicking "Run all".

#### Completing the Notebooks

As you navigate the notebooks, you'll see cells with bold, all-capitalized headings that need to be filled in to complete the notebook. There are two types:
<div class="alert alert-warning">
<b>EXERCISE</b> cells require you to write code to solve a problem, or write short responses related to analyzing a graph or the result of a computation
</div>

<div class="alert alert-info">
<b>PRACTICE</b> cells provide spaces to try out new coding skills at your own pace, unrelated to the case study. Since each coding skill taught in these notebooks is necessary for analyzing the cases, practice cells are a good way to get comfortable before applying those skills to real data.
</div>

Before we begin, we'll need a few extra tools to conduct our analysis. Run the next cell to load some code packages that we'll use later. 

Note: this cell **MUST** be run in order for most of the rest of the notebook to work.

In [23]:
# dependencies: THIS CELL MUST BE RUN
!pip install -r requirements

from datascience import *
import numpy as np
import math
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline

Requirement already satisfied: numpy==1.16.* in /srv/app/venv/lib/python3.6/site-packages (from -r requirements (line 1)) (1.16.0)
Requirement already satisfied: matplotlib==3.* in /srv/app/venv/lib/python3.6/site-packages (from -r requirements (line 2)) (3.1.0)
Requirement already satisfied: pandas==0.23.4 in /srv/app/venv/lib/python3.6/site-packages (from -r requirements (line 3)) (0.23.4)
Requirement already satisfied: datascience==0.10.6 in /srv/app/venv/lib/python3.6/site-packages (from -r requirements (line 4)) (0.10.6)
Requirement already satisfied: pydot==1.4.1 in /srv/app/venv/lib/python3.6/site-packages (from -r requirements (line 5)) (1.4.1)
Requirement already satisfied: networkx==2.3 in /srv/app/venv/lib/python3.6/site-packages (from -r requirements (line 6)) (2.3)
Requirement already satisfied: scipy==1.2.1 in /srv/app/venv/lib/python3.6/site-packages (from -r requirements (line 7)) (1.2.1)
Requirement already satisfied: python-dateutil>=2.1 in /srv/app/venv/lib/python3.6/site-packages (from matplotlib==3.*->-r requirements (line 2)) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /srv/app/venv/lib/python3.6/site-packages (from matplotlib==3.*->-r requirements (line 2)) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/app/venv/lib/python3.6/site-packages (from matplotlib==3.*->-r requirements (line 2)) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /srv/app/venv/lib/python3.6/site-packages (from matplotlib==3.*->-r requirements (line 2)) (2.4.6)
Requirement already satisfied: pytz>=2011k in /srv/app/venv/lib/python3.6/site-packages (from pandas==0.23.4->-r requirements (line 3)) (2019.3)
Requirement already satisfied: pytest in /srv/app/venv/lib/python3.6/site-packages (from datascience==0.10.6->-r requirements (line 4)) (5.4.1)
Requirement already satisfied: coverage==3.7.1 in /srv/app/venv/lib/python3.6/site-packages (from datascience==0.10.6->-r requirements (line 4)) (3.7.1)
Requirement already satisfied: folium==0.2.1 in /srv/app/venv/lib/python3.6/site-packages (from datascience==0.10.6->-r requirements (line 4)) (0.2.1)
Requirement already satisfied: sphinx in /srv/app/venv/lib/python3.6/site-packages (from datascience==0.10.6->-r requirements (line 4)) (2.4.4)
Requirement already satisfied: setuptools in /srv/app/venv/lib/python3.6/site-packages (from datascience==0.10.6->-r requirements (line 4)) (46.1.1)
Requirement already satisfied: coveralls==0.5 in /srv/app/venv/lib/python3.6/site-packages (from datascience==0.10.6->-r requirements (line 4)) (0.5)
Requirement already satisfied: decorator>=4.3.0 in /srv/app/venv/lib/python3.6/site-packages (from networkx==2.3->-r requirements (line 6)) (4.4.2)
Requirement already satisfied: six>=1.5 in /srv/app/venv/lib/python3.6/site-packages (from python-dateutil>=2.1->matplotlib==3.*->-r requirements (line 2)) (1.14.0)
Requirement already satisfied: packaging in /srv/app/venv/lib/python3.6/site-packages (from pytest->datascience==0.10.6->-r requirements (line 4)) (20.3)
Requirement already satisfied: attrs>=17.4.0 in /srv/app/venv/lib/python3.6/site-packages (from pytest->datascience==0.10.6->-r requirements (line 4)) (19.3.0)
Requirement already satisfied: pluggy<1.0,>=0.12 in /srv/app/venv/lib/python3.6/site-packages (from pytest->datascience==0.10.6->-r requirements (line 4)) (0.13.1)
Requirement already satisfied: importlib-metadata>=0.12; python_version < "3.8" in /srv/app/venv/lib/python3.6/site-packages (from pytest->datascience==0.10.6->-r requirements (line 4)) (1.5.0)
Requirement already satisfied: wcwidth in /srv/app/venv/lib/python3.6/site-packages (from pytest->datascience==0.10.6->-r requirements (line 4)) (0.1.9)
Requirement already satisfied: py>=1.5.0 in /srv/app/venv/lib/python3.6/site-packages (from pytest->datascience==0.10.6->-r requirements (line 4)) (1.8.1)
Requirement already satisfied: more-itertools>=4.0.0 in /srv/app/venv/lib/python3.6/site-packages (from pytest->datascience==0.10.6->-r requirements (line 4)) (8.2.0)
Requirement already satisfied: Jinja2 in /srv/app/venv/lib/python3.6/site-packages (from folium==0.2.1->datascience==0.10.6->-r requirements (line 4)) (2.11.1)
Requirement already satisfied: sphinxcontrib-serializinghtml in /srv/app/venv/lib/python3.6/site-packages (from sphinx->datascience==0.10.6->-r requirements (line 4)) (1.1.4)
Requirement already satisfied: sphinxcontrib-applehelp in /srv/app/venv/lib/python3.6/site-packages (from sphinx->datascience==0.10.6->-r requirements (line 4)) (1.0.2)
Requirement already satisfied: sphinxcontrib-jsmath in /srv/app/venv/lib/python3.6/site-packages (from sphinx->datascience==0.10.6->-r requirements (line 4)) (1.0.1)
Requirement already satisfied: snowballstemmer>=1.1 in /srv/app/venv/lib/python3.6/site-packages (from sphinx->datascience==0.10.6->-r requirements (line 4)) (2.0.0)
Requirement already satisfied: sphinxcontrib-qthelp in /srv/app/venv/lib/python3.6/site-packages (from sphinx->datascience==0.10.6->-r requirements (line 4)) (1.0.3)
Requirement already satisfied: babel!=2.0,>=1.3 in /srv/app/venv/lib/python3.6/site-packages (from sphinx->datascience==0.10.6->-r requirements (line 4)) (2.8.0)
Requirement already satisfied: requests>=2.5.0 in /srv/app/venv/lib/python3.6/site-packages (from sphinx->datascience==0.10.6->-r requirements (line 4)) (2.21.0)
Requirement already satisfied: alabaster<0.8,>=0.7 in /srv/app/venv/lib/python3.6/site-packages (from sphinx->datascience==0.10.6->-r requirements (line 4)) (0.7.12)
Requirement already satisfied: docutils>=0.12 in /srv/app/venv/lib/python3.6/site-packages (from sphinx->datascience==0.10.6->-r requirements (line 4)) (0.16)
Requirement already satisfied: Pygments>=2.0 in /srv/app/venv/lib/python3.6/site-packages (from sphinx->datascience==0.10.6->-r requirements (line 4)) (2.6.1)
Requirement already satisfied: sphinxcontrib-htmlhelp in /srv/app/venv/lib/python3.6/site-packages (from sphinx->datascience==0.10.6->-r requirements (line 4)) (1.0.3)
Requirement already satisfied: sphinxcontrib-devhelp in /srv/app/venv/lib/python3.6/site-packages (from sphinx->datascience==0.10.6->-r requirements (line 4)) (1.0.2)
Requirement already satisfied: imagesize in /srv/app/venv/lib/python3.6/site-packages (from sphinx->datascience==0.10.6->-r requirements (line 4)) (1.2.0)
Requirement already satisfied: PyYAML>=3.10 in /srv/app/venv/lib/python3.6/site-packages (from coveralls==0.5->datascience==0.10.6->-r requirements (line 4)) (5.3.1)
Requirement already satisfied: docopt>=0.6.1 in /srv/app/venv/lib/python3.6/site-packages (from coveralls==0.5->datascience==0.10.6->-r requirements (line 4)) (0.6.2)
Requirement already satisfied: zipp>=0.5 in /srv/app/venv/lib/python3.6/site-packages (from importlib-metadata>=0.12; python_version < "3.8"->pytest->datascience==0.10.6->-r requirements (line 4)) (3.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in /srv/app/venv/lib/python3.6/site-packages (from Jinja2->folium==0.2.1->datascience==0.10.6->-r requirements (line 4)) (1.1.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /srv/app/venv/lib/python3.6/site-packages (from requests>=2.5.0->sphinx->datascience==0.10.6->-r requirements (line 4)) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /srv/app/venv/lib/python3.6/site-packages (from requests>=2.5.0->sphinx->datascience==0.10.6->-r requirements (line 4)) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /srv/app/venv/lib/python3.6/site-packages (from requests>=2.5.0->sphinx->datascience==0.10.6->-r requirements (line 4)) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /srv/app/venv/lib/python3.6/site-packages (from requests>=2.5.0->sphinx->datascience==0.10.6->-r requirements (line 4)) (2.8)

# 1. Python <a id='section 1'></a>

**Python** is  programming language- a way for us to communicate with the computer and give it instructions. 

Just like any language, Python has a *vocabulary* made up of words it can understand, and a *syntax* giving the rules for how to structure communication.

#### Errors <a id="subsection error"></a>

Python is a language, and like natural human languages, it has rules.  It differs from natural language in two important ways:
1. The rules are *simple*.  You can learn most of them in a few weeks and gain reasonable proficiency with the language in a semester.
2. The rules are *rigid*.  If you're proficient in a natural language, you can understand a non-proficient speaker, glossing over small mistakes.  A computer running Python code is not smart enough to do that.

Whenever you write code, you will often accientally break some of these rules. When you run a code cell that doesn't follow every rule exactly, Python will produce an **error message**.

Errors are *normal*; experienced programmers make many errors every day. Errors are also *not dangerous*; you will not break your computer by making an error (in fact, errors are a big part of how you learn a coding language). An error is nothing more than a message from the computer saying it doesn't understand you and asking you to rewrite your command.

We have made an error in the next cell.  Run it and see what happens.

In [24]:
print("This line is missing something."

SyntaxError: unexpected EOF while parsing (<ipython-input-24-c7b7223ecd08>, line 1)

You should see something like this (minus our annotations):

<img src="images/error.jpg"/>

The last line of the error output attempts to tell you what went wrong.  The *syntax* of a language is its structure, and this `SyntaxError` tells you that you have created an illegal structure.  "`EOF`" means "end of file," so the message is saying Python expected you to write something more (in this case, a right parenthesis) before finishing the cell.

There's a lot of terminology in programming languages, but you don't need to know it all in order to program effectively. If you see a cryptic message like this, you can often get by without deciphering it.  (Of course, if you're frustrated, you can usually find out by searching for the error message online or posting on the Piazza.)


### 1a. Data <a id='subsection 1a'></a>
**Data** is information- the "stuff" we manipulate to make and test hypotheses. 

Almost all data you will work with broadly falls into two types: numbers and text. *Numerical data* shows up green in code cells and can be positive, negative, or include a decimal.

In [25]:
# Numerical data

4

87623000983

-667

3.14159

3.14159

Text data (also called *strings*) shows up red in code cells. Strings are enclosed in double or single quotes. Note that numbers can appear in strings.

In [26]:
# Strings
"a"

"Hi there!"

"We hold these truths to be self-evident that all men are created equal."

# this is a string, NOT numerical data
"3.14159"

'3.14159'

**Arrays**: when you want to collect a list of data (numbers, text, etc) in one place, you can make what's called an array. The function `make_array()` takes in any number of data entries and makes this ordered collection out of them. For our purposes, it's just a convenient container to organize data in the same place.

In [27]:
# Temperatures (F): individual values

60
78
67

#Temperatures (F): collected in an array
make_array(60,78,67)

array([60, 78, 67])

<div class="alert alert-info">
<b>PRACTICE:</b> If you're new to python and coding, one of the best ways to get comfortable is to practice. Try inputting different numbers of values in the `make_array()` function. Can you make a list of texts? What happens if you try to combine numbers *and* texts in the same array?
    </div>

In [28]:
#Optional

### 1a. Expressions <a id='subsection 1a'></a>

A bit of communication in Python is called an **expression**. It tells the computer what to do with the data we give it.

Here's an example of an expression.

In [29]:
# an expression
14 + 20

34


When you run the cell, the computer **evaluates** the expression and prints the result. Note that only the last line in a code cell will be printed, unless you explicitly tell the computer you want to print the result.

In [30]:
# more expressions. what gets printed and what doesn't?
100 / 10

print(4.3 + 10.98)

33 - 9 * (40000 + 1)

15.280000000000001

-359976

Many basic arithmetic operations are built in to Python, like `*` (multiplication), `+` (addition), `-` (subtraction), and `/` (division). There are many others, which you can find information about [here](http://www.inferentialthinking.com/chapters/03/1/expressions.html). 

The computer evaluates arithmetic according to the PEMDAS order of operations (just like you probably learned in middle school): anything in parentheses is done first, followed by exponents, then multiplication and division, and finally addition and subtraction.

In [31]:
# before you run this cell, can you say what it should print?
4 - 2 * (1 + 6 / 3)

-2.0

<div class="alert alert-info">
<b>PRACTICE:</b>Try writing and running different expressions in the cell below using numbers and the arithmetic operators `*` (multiplication), `+` (addition), `-` (subtraction), and `/` (division). See if you can generate different error messages and figure out what they mean.
    </div>

In [32]:
# Optional: try out different arithmetic operations

### 1b. Names <a id='subsection 1b'></a>
Sometimes, the values you work with can get cumbersome- maybe the expression that gives the value is very complicated, or maybe the value itself is long. In these cases it's useful to give the value a **name**.

We can name values using what's called an *assignment* statement.

In [33]:
# assigns 442 to x
x = 442

The assignment statement has three parts. On the left is the *name* (`x`). On the right is the *value* (442). The *equals sign* in the middle tells the computer to assign the value to the name.

You'll notice that when you run the cell with the assignment, it doesn't print anything. But, if we try to access `x` again in the future, it will have the value we assigned it.

In [34]:
# print the value of x
x

442

You can also assign names to expressions. The computer will compute the expression and assign the name to the result of the computation.

In [35]:
y = 50 * 2 + 1
y

101

We can then use these name as if they were numbers.

In [36]:
x - 42

400

In [37]:
x + y

543

### 1c. Order of Operation <a id='subsection 1c'></a>
Just as you've seen in your standard math classes, there are orders of operations to when executing code. Recall **PEMDAS**: when you run code, it will calculate components of the expression in the following order:
1. **P**arenthesis
2. **E**xponents
3. **M**ultiplication or **D**ivision
4. **A**ddition or **S**ubtraction

<div class="alert alert-info">
<b>PRACTICE:</b> What are the orders of operations for the following two code cells? Will they output the same number, or should they be different?
    </div>

In [38]:
# Example 1
(x + y) * 2 - y

985

In [39]:
# Example 2
x + y * 2 - y

543

*Optional: YOUR ANSWER HERE*

<div class="alert alert-warning">
<b>**EXERCISE**:</b> In Friday's lab, we will calculate a metric called **percent change**. We'll go over what this means on Friday, so don't worry about its definition for now. We've provided you the percent change formula and assigned values to the variables `original` and `new` -- calculate the percent change of the *new* value from the *original* value.
</div>

$$PercentChange = \dfrac{NewValue - OriginalValue}{OriginalValue} * 100$$

In [40]:
# Percent Change

original = 2
new = 5

...

Ellipsis

### 1d. Dot Notation <a id='subsection 1d'></a>
Python has a lot of [built-in functions](https://docs.python.org/3/library/functions.html) (that is, functions that are already named and defined in Python), but even more functions are stored in collections called *modules*. Earlier, we imported the `math` module so we could use it later. Once a module is imported, you can use its functions by typing the name of the module, then the name of the function you want from it, separated with a `.`.

In [41]:
# a call expression with the factorial function from the math module
math.factorial(5)

120

<div class="alert alert-warning">
**EXERCISE:**  `math` also has a function called `sqrt` that takes one argument and returns the square root. Call `sqrt` on 16 in the next cell.
</div>

In [42]:
# use math.sqrt to get the square root of 16
...

## 2. Tables <a id='section 2'></a>

The last section covered four basic concepts of python: data, expressions, names, and functions. In this next section, we'll see just how much we can do to examine and manipulate our data with only these minimal Python skills.

**Tables** are fundamental ways of organizing and displaying data. Run the next cell to load the water networks data we will be using in lab this Friday. Don't worry too much about what the columns mean -- we will cover this thoroughly in lab. For now, we'll use this data to get practice using the functions we've provided below. Run the following cell to load and view the data:

In [43]:
networks = Table.read_table("data/network.csv")
networks

year | source     | target   | cumulative_volume_af | transmission_kwh/af
2010 | 1801001PD  | 1801001E | 1624                 | 163.1
2010 | 1801007PD  | 1801007E | 2015.2               | 163.1
2010 | 1801009PD  | 1801009E | 2924.55              | 163.1
2010 | 1801011PD  | 1801011E | 1350                 | 163.1
2010 | 1801015PD  | 1801015E | 840                  | 163.1
2010 | 1801017PD  | 1801017E | 1798.34              | 163.1
2010 | 1801019PD  | 1801019E | 1414.56              | 163.1
2010 | 1801021NPD | 1801021E | 710                  | 195.72
2010 | 1801021PD  | 1801021E | 3098.08              | 163.1
2010 | 1801023NPD | 1801023E | 204                  | 195.72
... (1433 rows omitted)

This table is organized into **columns**: one for each *category* of information collected:

You can also think about the table in terms of its **rows**. Each row represents all the information collected about a particular instance, which can be a person, location, action, or other unit. 

What do the rows in this table represent?

By default only the first ten rows are shown. Can you see how many rows there are in total?

## 2a. Table Transformation <a id='subsection 2a'></a>

Not all of our columns are relevant to every question we want to ask. We can save computational resources and avoid confusion by *transforming* our table before we start work.

### i. Subsetting columns with `select` and `drop`
The `select` function is used to get a table containing only particular columns. `select` is called on a table using **dot notation** and takes one or more arguments: the name or names of the column or columns you want.

In [13]:
networks

year | source     | target   | cumulative_volume_af | transmission_kwh/af
2010 | 1801001PD  | 1801001E | 1624                 | 163.1
2010 | 1801007PD  | 1801007E | 2015.2               | 163.1
2010 | 1801009PD  | 1801009E | 2924.55              | 163.1
2010 | 1801011PD  | 1801011E | 1350                 | 163.1
2010 | 1801015PD  | 1801015E | 840                  | 163.1
2010 | 1801017PD  | 1801017E | 1798.34              | 163.1
2010 | 1801019PD  | 1801019E | 1414.56              | 163.1
2010 | 1801021NPD | 1801021E | 710                  | 195.72
2010 | 1801021PD  | 1801021E | 3098.08              | 163.1
2010 | 1801023NPD | 1801023E | 204                  | 195.72
... (1433 rows omitted)

In [14]:
# make a new table with only selected columns
networks.select("source", "target","year")

source     | target   | year
1801001PD  | 1801001E | 2010
1801007PD  | 1801007E | 2010
1801009PD  | 1801009E | 2010
1801011PD  | 1801011E | 2010
1801015PD  | 1801015E | 2010
1801017PD  | 1801017E | 2010
1801019PD  | 1801019E | 2010
1801021NPD | 1801021E | 2010
1801021PD  | 1801021E | 2010
1801023NPD | 1801023E | 2010
... (1433 rows omitted)

If instead you need all columns except a few, the `drop` function can get rid of specified columns. `drop` works very similarly to `select`: call it on the table using dot notation, then give it the name or names of what you want to drop.

In [15]:
# drop a column
networks.drop("transmission_kwh/af", "source")

year | target   | cumulative_volume_af
2010 | 1801001E | 1624
2010 | 1801007E | 2015.2
2010 | 1801009E | 2924.55
2010 | 1801011E | 1350
2010 | 1801015E | 840
2010 | 1801017E | 1798.34
2010 | 1801019E | 1414.56
2010 | 1801021E | 710
2010 | 1801021E | 3098.08
2010 | 1801023E | 204
... (1433 rows omitted)

<div class="alert alert-warning">
<b>EXERCISE:</b> Pick two columns from our table. Create a new table containing only those two columns two different ways: once using `select` and once using `drop`. 
</div>

In [16]:
# use select
networks.select(...)

ValueError: Ellipsis is not a label or index

In [17]:
# use drop
networks.drop(...)

# can you figure out a different way to drop 2 columns?
networks.drop(...).drop(...)

year | source     | target   | cumulative_volume_af | transmission_kwh/af
2010 | 1801001PD  | 1801001E | 1624                 | 163.1
2010 | 1801007PD  | 1801007E | 2015.2               | 163.1
2010 | 1801009PD  | 1801009E | 2924.55              | 163.1
2010 | 1801011PD  | 1801011E | 1350                 | 163.1
2010 | 1801015PD  | 1801015E | 840                  | 163.1
2010 | 1801017PD  | 1801017E | 1798.34              | 163.1
2010 | 1801019PD  | 1801019E | 1414.56              | 163.1
2010 | 1801021NPD | 1801021E | 710                  | 195.72
2010 | 1801021PD  | 1801021E | 3098.08              | 163.1
2010 | 1801023NPD | 1801023E | 204                  | 195.72
... (1433 rows omitted)

### ii. Selecting a specific column with `.column()` 

The **`.column()`** function takes in a column name, selects that column and extracts the values of the column as an **array**. This allows us to take values out of a table and use them for calculations or plotting graphs (which we will get to at the end).

We call the `.column()` function like so: `table_name.column("column_name")`.

In [18]:
#return the values in a column
networks.column("target")

array(['1801001E', '1801007E', '1801009E', ..., '1805001E', '1803019E',
       '1803083E'], dtype='<U8')

### iii. Filtering rows with `.where()`
Tables can contain hundreds of thousands of entries, but most of the time we only want to look at a subset of that information. For example, our networks data contains information from 2010, 2015 and predicted 2015. However, say we were only interested in what the water system in California looked like in 2010. We can use the `.where()` function to filter the data so that the rows are all data from 2010.

The **`where`** function allows us to choose certain rows based on two arguments:
- A column name you want to filter on
- A condition that each row should match, called the _predicate_ 

In other words, we call the `.where()` function like so: `table_name.where(column_name, satisfies_predicate_condition)`.

In [19]:
# get a subset of rows
networks.where("year", are.equal_to("2015"))

year | source     | target   | cumulative_volume_af | transmission_kwh/af
2015 | 1803007PD  | 1803007E | 3145.61              | 17.6
2015 | 1803009PD  | 1803009E | 55032                | 1284
2015 | 1803013PD  | 1803013E | 688                  | 2000
2015 | 1803015PD  | 1803015E | 3952                 | 17.6
2015 | 1803017PD  | 1803017E | 24854                | 17.6
2015 | 1803019NPD | 1803019E | 2143                 | 42.24
2015 | 1803019PD  | 1803019E | 11704.7              | 35.2
2015 | 1803027PD  | 1803027E | 4842.57              | 17.6
2015 | 1803029PD  | 1803029E | 7502                 | 35.2
2015 | 1803033NPD | 1803033E | 15022                | 84.48
... (360 rows omitted)

Notice that the entries in the year column are **texts**, not numbers. This is because one of the values is "Predicted 2015" which has to be text -- to keep the type of values in the year column consistent, every value is text.

If you are curious, there are many types of predicates. Some of the more common ones are:

|Predicate|Example|Result|
|-|-|-|
|`are.equal_to`|`are.equal_to(50)`|Find rows with values equal to 50|
|`are.not_equal_to`|`are.not_equal_to(50)`|Find rows with values not equal to 50|
|`are.above`|`are.above(50)`|Find rows with values above (and not equal to) 50|
|`are.above_or_equal_to`|`are.above_or_equal_to(50)`|Find rows with values above 50 or equal to 50|
|`are.below`|`are.below(50)`|Find rows with values below 50|
|`are.between`|`are.between(2, 10)`|Find rows with values above or equal to 2 and below 10|

The only predicate you will need to know for the lab is the first one: `are.equal_to()`. You will use this to filter the data to contain **only** your assigned utility code as the target, or to filter data for a specific year.


<div class="alert alert-warning">
<b>EXERCISE:</b> Say we wanted to look at the the water network around the Cerritos Utility (utility code: 1807057E). We want to filter the 'target' column to contain only the utility code associated with the Cerritos Utility. Using the `.where()` function, do this below.
</div>

In [20]:
networks.where(...)

TypeError: object of type 'ellipsis' has no len()

### iv. Aggregating across Categories with `.group()` 

In most cases, the columns of your table can be thought of as **categories**: a subject's preferred gender, level of education, area of study, etc. When we have lots of data collected for each category, we often want to calculate "summary statistics" on them to understand how each category differ from one another. This summary statistic could be as simple as the total number (sum) of values recorded for each category, which is what we will use in this class. You'll see what we mean in a second: run the following cell to output a table of snacks!

In [21]:
# Don't worry about the code here -- simply run this cell!
snacks = Table().with_columns("Item", make_array("Oreo", "Cupcake", "Ice Cream", "Oreo", "Cupcake", "Ice Cream"),
                    "Flavor", make_array("Vanilla", "Chocolate", "Vanilla", "Chocolate", "Vanilla", "Chocolate"),
                    "Number", make_array(6, 3, 2, 10, 3, 6))

snacks

Item      | Flavor    | Number
Oreo      | Vanilla   | 6
Cupcake   | Chocolate | 3
Ice Cream | Vanilla   | 2
Oreo      | Chocolate | 10
Cupcake   | Vanilla   | 3
Ice Cream | Chocolate | 6

In this example, it is easy to identify the categories. The `Item` column has three categories "Oreo", "Cupcake" and "Ice Cream", while the `Flavor` column has two categories "Vanilla" and "Chocolate". The `Number` column contains the number of each Item/Flavor combination you have.

If you wanted to calculate the **how many of each Flavor you have**, how would you do it? In this small table, it's easy to pick out the Number associated with each Chocolate Flavor and add them up: $3+10+6=19$ and then pick out the Number associated with each Vanilla Flavor and add them up: $6+2+3=11$. However, this gets extremely tedious very fast as the number of rows in a table get larger and larger. That's where the `.group()` function comes in.


**`.group("column_name", function)`** takes in two inputs:

    - the column with the categories you want to "group"
    - an "aggregation function", or what you want to calculate from the values of each category
    
For our purposes, the only aggregation function we will be using is `sum`.
It will then output a table with the desired calculation for each unique group. Because the functions takes the sum of all values across all tables, you will notice that not all columns will have values: if a column doesn't contain numerical values, then it cannot add so it will simply leave it blank.

<img src="images/Group.PNG" width="800" height="800">

In [22]:
# Fill in the ... to verify the answers we got above
snacks.group("Flavor", sum)

Flavor    | Item sum | Number sum
Chocolate |          | 19
Vanilla   |          | 11

<div class="alert alert-info">
<b>PRACTICE:</b> How many total of each Snack Item are there? I.e. How many total Oreos, total ice creams, and total cookies do you have?
    </div>

In [23]:
snacks.group("Item", sum)

Item      | Flavor sum | Number sum
Cupcake   |            | 6
Ice Cream |            | 8
Oreo      |            | 16

### IMPORTANT: 

Notice that calling these transformation methods **do not change the original table**. If you call the table `networks` again, it will contain all the original columns. This is because the functions here **make a NEW table out of the original table**. If you want these changes to be reflected in your original table, you will have to **reassign** your orginal table name to that change:

In [24]:
# The original table has not changed
networks

year | source     | target   | cumulative_volume_af | transmission_kwh/af
2010 | 1801001PD  | 1801001E | 1624                 | 163.1
2010 | 1801007PD  | 1801007E | 2015.2               | 163.1
2010 | 1801009PD  | 1801009E | 2924.55              | 163.1
2010 | 1801011PD  | 1801011E | 1350                 | 163.1
2010 | 1801015PD  | 1801015E | 840                  | 163.1
2010 | 1801017PD  | 1801017E | 1798.34              | 163.1
2010 | 1801019PD  | 1801019E | 1414.56              | 163.1
2010 | 1801021NPD | 1801021E | 710                  | 195.72
2010 | 1801021PD  | 1801021E | 3098.08              | 163.1
2010 | 1801023NPD | 1801023E | 204                  | 195.72
... (1433 rows omitted)

In [25]:
# After reassigning the name of the table to the new transformed function, changes are reflected
networks = networks.drop(...)
networks

year | source     | target   | cumulative_volume_af | transmission_kwh/af
2010 | 1801001PD  | 1801001E | 1624                 | 163.1
2010 | 1801007PD  | 1801007E | 2015.2               | 163.1
2010 | 1801009PD  | 1801009E | 2924.55              | 163.1
2010 | 1801011PD  | 1801011E | 1350                 | 163.1
2010 | 1801015PD  | 1801015E | 840                  | 163.1
2010 | 1801017PD  | 1801017E | 1798.34              | 163.1
2010 | 1801019PD  | 1801019E | 1414.56              | 163.1
2010 | 1801021NPD | 1801021E | 710                  | 195.72
2010 | 1801021PD  | 1801021E | 3098.08              | 163.1
2010 | 1801023NPD | 1801023E | 204                  | 195.72
... (1433 rows omitted)

## 3. Barplots <a id='section 3'></a>

It's difficult to understand trends in data without visual aid. In this section, we'll use made up data and plot bar plots of that data.

#### Making bar graphs
The Table object also has a **`.bar()`** function (dot notation) which is used to plot bar charts for the table. The `.bar()` function only takes in one value: the name of the column of the table containing the x-axis categories.

In our very simple case, our Category (animal) column will contain just 3 unique categories; the Value (weight) column will contain the weights of those categories. Note that the category column can contain either text or numbers, but the value column must contain numbers.

Don't worry about the code that constructs the code below: simply run the cell.

In [26]:
#create a new table
table = Table().with_columns('Animal',make_array('Cat','Toy Poodle', 'Raven'), 
                             'Weight', make_array(20, 16, 3.2))
table

Animal     | Weight
Cat        | 20
Toy Poodle | 16
Raven      | 3.2

Can you imagine what the bar plot for this very simple table will look like? Fill in the '...' below to output your barplot.

In [27]:
#graph a bar graph with type as a variable and values as y variable.
#parameter takes in the x-axis categories.

table.bar(...)



####*** IGNORE (here for aesthetics)***####
plt.xticks(np.arange(3),['Cat', 'Toy Poodle','Raven'],rotation=0)
plt.ylabel('Weight (lbs)')
plt.title('Barplot of Weights for Each Animal');

TypeError: object of type 'ellipsis' has no len()

<div class="alert alert-warning">
<b> EXERCISE:</b> Can you try your making your own bar graph? Fill in the blank.
</div>

In [ ]:
#new table for the exercise
newtable = Table().with_columns('Animal',make_array('Cat','Dog','Rabbit','Turtle','Bear'), 
                             'Weight', make_array(20, 50, 15, 50, 100))

...

#ignore this.
plt.xticks(np.arange(5),['Cat','Dog','Rabbit','Turtle','Bear'],rotation=0);
plt.ylabel('Weight (lbs)')
plt.title('Barplot of Weights for Each Animal');

**Congratulations!** You have finished your first lab in a Jupyter Notebook. We highly recommend going over these concepts (especially the Table functions!) before the lecture on Friday since we will be employing these skills to analyze the California Water Systems. If you had trouble understanding the concepts above, there are resources set in place to help! **Data Science Peer Consulting** offers office hours run by Data Science students on the **3rd floor of Moffitt Library**. Meet the peer consultants and [view their office hours schedule here](https://data.berkeley.edu/education/data-peer-consulting). They are a great resource, so take advantage of their expertise!

#### References

- Sections of "Intro to Jupyter", "Table Transformation" adapted from materials by Kelly Chen and Ashley Chien in [UC Berkeley Data Science Modules core resources](http://github.com/ds-modules/core-resources)
- "A Note on Errors" subsection and "error" image adapted from materials by Chris Hench and Mariah Rogers for the Medieval Studies 250: Text Analysis for Graduate Medievalists [data science module](https://github.com/ds-modules/MEDST-250).
- Rocket Fuel data and discussion questions adapted from materials by Zsolt Katona and Brian Bell, BerkeleyHaas Case Series

Author: Keeley Takimoto, Mina Kim, Keiko Kamei